@import "tailwindcss";

@layer utilities {
  .hover\:text-\[\#7782FF\]:hover {
    color: #7782ff;
  }
}

.hero-gradient {
  @apply bg-gradient-to-r from-[#6A76E3] to-[#45A4F3];
}

input {
  color: #ffffff;
}

.custom-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0.3) 100%
  );
}

.theme-purple {
  --color-primary-purple: rgba(107, 118, 227);
  color: var(--color-primary-purple);
  --color-card: rgba(107, 118, 227, 0.2);
  --color-hover-card: rgba(126, 34, 206);
  --color-tabs-background: rgba(107, 118, 227);
  --color-tabs-title-text: rgba(107, 118, 227);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

main {
  min-height: calc(100vh - 8rem);
  padding-top: 3rem;
}

.primary-button {
  position: relative;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: all 0.3s ease;
  background-color: rgba(107, 118, 227);
  /* Creates a 2px border that matches the button color initially */
  border: 1px solid transparent;
  font-size: 12px;
}

.primary-button:hover {
  background-color: hsl(233 53% 53%);
}

.primary-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-image: linear-gradient(180deg, #8cc7ff 0%, #7ab7ff 100%),
    linear-gradient(180deg, #8cc7ff 0%, #7ab7ff 100%);
  box-shadow: none;
}

.secondary-button {
  position: relative;
  border: none;
  color: #5764d9;
  cursor: pointer;
  border-radius: 6px;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: all 0.3s ease;
  background-color: white;
  border: 1px solid transparent;
  font-size: 12px;
}

.secondary-button:hover {
  /* Transparent border to show gradient */
  background-color: #f3f4f6;
}

.secondary-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  border-color: #cccccc;
  /* Light gray border for disabled state */
  background: transparent;
  box-shadow: none;
}

.gradient-hover {
  background: linear-gradient(to left, #6a76e3, #45a4f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.md-header {
  position: fixed !important;
  top: 70px !important;
}

.md-main__inner {
  margin-top: 70px !important;
}

.md-sidebar {
  top: 75px !important;
  /* height: calc(100vh - 105px) !important; */
}

@media (min-width: 640px) and (max-width: 1023px) {
  .md-sidebar {
    top: 70px !important;
  }
}
@media (min-width: 1024px) {
  .md-sidebar {
    top: 70px !important;
    height: calc(100vh - 70px) !important;
  }
}

/* @media screen and (min-width: 60em) {
  .md-sidebar--secondary:not([hidden]) {
    display: none !important;
  }
} */

/* @media (min-width: 768px) {
 .md-sidebar__scrollwrap {
  display: none !important;
 }
  
} */
nav.md-grid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* default (base) = px-4 */
  padding-right: 1rem;
}

@media (min-width: 640px) {
  nav.md-grid {
    padding-left: 1.5rem; /* sm:px-6 */
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  nav.md-grid {
    padding-left: 2rem; /* lg:px-8 */
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  nav.md-grid {
    padding-left: 2.5rem; /* xl:px-10 */
    padding-right: 2.5rem;
  }
}
.md-search__inner {
  width: 20rem;
}
@media (max-width: 768px) {
  .md-search__inner {
    top: 80px !important;
  }

  .md-search__input {
    pointer-events: auto !important;
    color: black !important;
  }
}

  .md-header__title {
    margin-left: 0.1rem;
    width: 100px;
  }
    
@media (min-width: 1025px) {
  .md-header__title {
    flex-grow: 0;
    flex-basis: auto;
    max-width: 400px;
  }
  .md-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
