{% extends "base.html" %}

<!-- Hide only the table of contents (right sidebar) for landing page -->
{% block content_nav %}{% endblock %} {% block content %}
<div class="landing-page">
  <div class="landing-container">
    <div class="landing-main-content">
      <h1>Integrations</h1>
      <p>
        Integrations allow you to collect and store data from various sources in
        OpenObserve.
      </p>
      <div class="integration-filter-tags" id="integrations-filters"></div>

      <div
        class="landing-integration-grid"
        id="integrations-container"
        data-page="integrations"
      ></div>
    </div>
  </div>
</div>

{% endblock %}
